<?xml version="1.0" encoding="utf-8"?>
<template>
	<name>entity</name>
	<filePath>${projectPath}/src/main/resources/mapper</filePath>
	<fileName>${ClassName?uncap_first}Mapper.xml</fileName>
	<content><![CDATA[<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${packageName}.domain.mapper.${ClassName?cap_first}Mapper">
	
	<!-- 基础数据-->
	<resultMap id="BaseResultMap" type="${packageName}.domain.entity.${ClassName?cap_first}" >
		<id column="${id.column}" property="${id.name}"/>
		<#list filedList as filed>
		<result column="${filed.column}" property="${filed.name}"/>
		</#list>
	</resultMap>
	
	<sql id="Base_Column_List">
	<#assign columnField>
		${id.column}, <#list filedList as filed> ${filed.column}, </#list>
	</#assign>
	${columnField?substring(0, columnField?last_index_of(","))}
	</sql>

	<!--新增接口开始-->
	<insert id="insert" parameterType="${packageName}.domain.entity.${ClassName?cap_first}" >
		insert into ${tableName}
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<#list filedList as filed>
			<if test="${filed.name} != null">
			${filed.column},
			</if>
		</#list>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<#list filedList as filed>
			<if test="${filed.name} != null">
			${"#"}{${filed.name}},
			</if>
		</#list>
		</trim>
	</insert>

	<!--更新接口开始-->
	<update id="updateById" parameterType="${packageName}.domain.entity.${ClassName?cap_first}" >
		update ${tableName}
		<set>
		<#list filedList as filed>
			<if test="${filed.name} != null">
				${filed.column} = ${"#"}{${filed.name}},
			</if>
		</#list>
		</set>
		<where> ${id.column} = ${"#"}{${id.name}} </where>
	</update>

  <!--删除接口开始-->
	<delete id="deleteById" >
		delete from ${tableName}
		<where> ${id.column} = ${"#"}{${id.name}} </where>
	</delete>

	<delete id="batchDelete">
		delete from ${tableName}
		<where>
			${id.column} in
			<foreach collection="idList" item="id" open="(" close=")" separator=",">
			${"#"}{id}
			</foreach>
		</where>
	</delete>

  <!--查询接口开始-->
  <select id="queryPage" resultMap="BaseResultMap" parameterType="${packageName}.domain.entity.${ClassName?cap_first}">
    select
    <include refid="Base_Column_List" />
    from ${tableName}
    <where>
    <#list filedList as filed>
		<if test="${filed.name} != null">
			and ${filed.column} = ${"#"}{${filed.name}}
		</if>
	</#list>
    </where>
  </select>

  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ${tableName}
    <where> ${id.column} = ${"#"}{${id.name}} </where>
  </select>
</mapper>
]]>
	</content>
</template>