<?xml version="1.0" encoding="UTF-8"?>                                          
<!DOCTYPE entity SYSTEM "../../dtd/table.dtd">
<entity name="Module" table="t_mem_module" description="模块" author="丁海峰" since="1.0">
	<!--
	    主键
	 -->
	<id name="id" column="id" type="long" description="主键"/>

	<property	name="name"   column="name" type="string"  maxlength="20"   description="权限模块名称"  />
	<property	name="parentId"   column="parent_id" type="long"  maxlength="20"   description="上级权限模块id"  />
	<property	name="level"   column="level" type="string"  maxlength="200"   description="权限模块层级"  />
	<property	name="seq"   column="seq" type="int"  maxlength="11"   description="权限模块在当前层级下的顺序，由小到大"  />
	<property	name="status"   column="status" type="int"  maxlength="11"   description="状态，1：正常，0：冻结"  />

	<!--<property	name="remark"   column="remark" type="string"  maxlength="200"   description="备注"  />
	<property	name="isDeleted"   column="is_deleted" type="int"  maxlength="4"   description="是否已删除" />
	<property	name="createBy"   column="create_by" type="string"  maxlength="40"   description="创建人"  />
	<property	name="updateBy"   column="update_by" type="string"  maxlength="40"   description="更新人"  />
	<property	name="createTime"   column="create_time" type="date" description="创建时间"  />
	<property	name="updateTime"   column="update_time" type="date" description="更新时间"  />-->



</entity>